# Requirements for using redvox-pandas.

redvox >= 3.1.9

# Overlap with redvox SDK so just use SDK version
numpy < 1.22
pandas
scipy

# Filters
obspy >= 1.3.0

# Plotting
matplotlib >= 3.5.0

# TFR
libwwz >= 1.2.0
libquantum >= 1.3.0

# Geospatial
pymap3d


