# Requirements for using redvox-pandas.

redvox >= 3.3.0

# Overlap with redvox SDK so just use SDK version
numpy
pandas
scipy

# Filters
obspy >= 1.3.0

# Plotting
matplotlib >= 3.6.0

# TFR
libwwz >= 1.2.0
libquantum >= 1.4.0

# Geospatial
pymap3d


