numpy == 1.19.5
scipy >= 1.5.1
pandas >= 1.3.1
redvox >= 3.0.7
libwwz >= 1.1.0
obspy
libquantum >= 1.2.0
pyarrow
fastparquet

# Plotting
matplotlib >= 3.4.2

# TFR
librosa

# Geospatial
pymap3d
fastkml


